@linkHover: #d18747;

@btn-bg: @linkHover;

@fontColor: #53575A;

@borderColor: #f2f2f2;

@footcolor: #53575a;

@breakPointSP: 768px;

@breakPointPad: 992px;

@contentWidth: 960px;

@contentInfoWidth: 880px;
