.main {
  width: 1376px;
  height: 874px;
  margin: 128px auto;
  background-color: yellow;
}
.tech {
  display: flex;
  flex-wrap: wrap;
  .tech-left-text {
    flex: 1;
    height: 500px;
    text-align: center;
  }
  .tech-right-img {
    width: 502px;
    height: 566px;
    margin-top: -66px;
    margin-right: 75px;
  }
  .tech-left-img {
    flex: 1;
    img {
      margin-left: 76px;
    }
  }
  .tech-right-text {
    width: 687px;
    background-color: #ffffff;
  }
}
.challenges {
  width: 100%;
  margin-top: 96px;
  margin-left: 108px;
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .container > div {
    width: 392px;
    height: 232px;
    background-color: #8ca0ff;
  }
}
