@import './styles/_variables.less';

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  word-break: break-word;
}

h1 {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.2em;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
input,
textarea {
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  resize: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input:valid {
  background-color: yellow;
}
ul {
  li {
    list-style: none;
  }
}
@font-face {
  font-family: 'MonumentGrotesk-Medium';
  src: url(./assets/MonumentGrotesk-Medium.otf);
}
@font-face {
  font-family: 'MonumentGrotesk-Regular';
  src: url(./assets/MonumentGrotesk-Regular.otf);
}

.heading1 {
  color: #53575a;
  font-weight: 400;
  font-size: 96px;
  font-family: MonumentGrotesk-Regular, MonumentGrotesk;
  line-height: 120px;
}
.heading2 {
  color: #53575a;
  font-weight: 400;
  font-size: 64px;
  font-family: MonumentGrotesk-Regular, MonumentGrotesk;
  line-height: 80px;
}
.heading3 {
  color: #53575a;
  font-weight: 400;
  font-size: 48px;
  font-family: MonumentGrotesk-Regular, MonumentGrotesk;
  line-height: 60px;
}
.heading4 {
  color: #53575a;
  font-weight: 400;
  font-size: 32px;
  font-family: MonumentGrotesk-Regular, MonumentGrotesk;
  line-height: 48px;
}
.heading5 {
  color: #53575a;
  font-weight: 400;
  font-size: 24px;
  font-family: MonumentGrotesk-Regular, MonumentGrotesk;
  line-height: 36px;
}
.title1 {
  color: #53575a;
  font-weight: 500;
  font-size: 32px;
  font-family: MonumentGrotesk-Medium, MonumentGrotesk;
  line-height: 48px;
}
.title2 {
  color: #53575a;
  font-weight: 500;
  font-size: 24px;
  font-family: MonumentGrotesk-Medium, MonumentGrotesk;
  line-height: 36px;
}
.title3 {
  color: #53575a;
  font-weight: 500;
  font-size: 16px;
  font-family: MonumentGrotesk-Medium, MonumentGrotesk;
  line-height: 24px;
}

.body1 {
  color: #53575a;
  font-weight: 400;
  font-size: 24px;
  font-family: MonumentGrotesk-Regular, MonumentGrotesk;
  line-height: 36px;
}
.body2 {
  color: #53575a;
  font-weight: 400;
  font-size: 20px;
  font-family: MonumentGrotesk-Regular, MonumentGrotesk;
  line-height: 32px;
}
.body3 {
  color: #53575a;
  font-weight: 400;
  font-size: 16px;
  font-family: MonumentGrotesk-Regular, MonumentGrotesk;
  line-height: 24px;
}
.Paragraph3 {
  color: #53575a;
  font-weight: 400;
  font-size: 18px;
  font-family: MonumentGrotesk-Regular, MonumentGrotesk;
  line-height: 27px;
}
.link1 {
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  font-family: MonumentGrotesk-Medium, MonumentGrotesk;
  text-decoration: underline;
  cursor: pointer;
}
.link2 {
}
.link3 {
  color: #53575a;
  font-weight: 500;
  font-size: 16px;
  font-family: MonumentGrotesk-Medium, MonumentGrotesk;
  line-height: 24px;
  text-decoration: underline;
  cursor: pointer;
}
button {
  cursor: pointer;
}
.grid {
  width: 100%;
  padding: 0 32px;
}
@media only screen and (min-width: 2560px) {
  .grid,
  .grid-special {
    width: 1914px;
    margin: auto;
  }
}
